@media screen and (max-width: 991px) {
  #statsprof {
    border-top: 1px solid #fbcea0 !important;
    border-bottom: 1px solid #fbcea0 !important;
  }
  .container {
    margin: 0;
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100vw;
    }
    .ve-tbl-border {
      display: none;
      border: none !important;
    }
    .mobile-md__ve-flex-col {
      width: 100vw;
      > .col-md-3,
      .col-md-9 {
        padding: 0;
      }
    }
  }
  #classtable {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw !important;
    float: none;
    .cls-tbl {
      tbody {
        td {
          div {
            a {
              text-wrap: nowrap !important;
            }
          }
        }
      }
    }
    .scroll-right {
      img {
        transform: rotate(90deg);
      }
      margin-left: 2rem;
      color: #fbcea0 !important;
      display: flex !important;
      column-gap: 1rem;
      text-wrap: nowrap;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.15rem;
    }
    .cls-tbl__disp-name {
      position: relative;
    }
  }
  #subclasstabs {
    padding-left: 0.5rem !important;
    padding-right: 1rem !important;
    .features-navbar {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      button {
        font-size: 1.4rem !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        height:2.5rem        
      }
    }

    div:nth-child(2) {
      margin: 0;
      width: 100%;
      button {
        margin: 0;
        font-size: 1.2rem !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }
}
.container {
  padding-left: 0;
  padding-right: 0;
  .col-md-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .col-md-9 {
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    border-radius: 8px !important;
    background: #00000059;
  }
  .wrp-btn-readmode {
    button {
      color: #fbcea0;
    }
  }
  #statsprof {
    table {
      background-color: #00000059;

      tbody {
        tr {
          .ve-tbl-border {
            background: #fbcea0;
            height: 1px !important;
          }
          td {
            .cls-side__section-head {
              font-size: 1.8rem;
              width: fit-content !important;
              font-weight: 700;
              background: linear-gradient(135deg, #fff, #fbcea0 66%, #fbcfa0);
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
          td {
            padding-left: 0.8rem;
          }
          td,
          th {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              font-family: "Alegreya" !important;
            }
            div {
              font-size: 1.6rem;
              font-weight: 500;
              font-family: "Alegreya" !important;
              a {
                color: #fbcea0;
              }
              .cls-side__name {
                font-size: 2.4rem;
                font-family: "Alegreya", serif;
                font-variant: none;
                font-weight: 700;
                background: linear-gradient(135deg, #fff, #fbcea0 66%, #fbcfa0);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .cls-side__btn-toggle {
                color: #fbcea0;
              }
            }
          }
        }
      }
    }
  }
  .class-title {
    display: flex;
    .cls-tbl__disp-name {
      margin: 0;
      font-family: "Alegreya", serif;
      font-variant: none;
      padding: 1.5rem 1rem !important;
      font-size: 2.4rem !important;
      font-weight: 700;
      background: linear-gradient(135deg, #fff, #fbcea0 66%, #fbcfa0);
      background-clip: border-box;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .scroll-right {
      display: none;
    }
  }
  #classtable {
    overflow-x: auto;
    border-radius: 8px !important;
    border: 1px solid #fbcea0;
    margin-left: 1rem;
    position: relative;
    min-height: 1px;
    width: 74%;
    float: left;
    font-family: "Alegreya", serif;
    .cls-tbl {
      background: #00000059;
      tbody {
        tr:nth-child(1) {
          th {
            text-wrap: nowrap;
          }
        }
        tr:nth-child(2) {
          th {
            font-size: 1.6rem;
            font-weight: 700;
          }
        }
        tr:nth-child(n + 3) {
          height: 3rem;
        }
        tr {
          .ve-tbl-border {
            display: none;
          }

          th,
          td {
            font-family: "Alegreya", serif;
            font-size: 1.6rem;
            font-weight: 500;
            a {
              color: #fbcea0;
            }
          }
          td {
            div {
              a {
                text-wrap: wrap;
              }
            }
          }
        }
      }
    }
  }
  #subclasstabs {
    flex-direction: column;

    > .features-navbar {
      width: 100%;
      column-gap: 1rem;
    
    }

    .features-toggles,
    .middle-toggles {
      flex-grow: 1;
      display: flex;
        align-items: center;
      justify-content: center;
      > button:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      > button:not(:first-child):not(:last-child) {
        border-radius: 0;
      }

      > button:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      > button {
        flex-grow: 1;
        font-family: "Alegreya", serif;
        font-weight: 600;
        border: 1px solid #fbcea0 !important;
        color: #fbcea0;
      }
      > button.active,
      > button.cls__btn-cf--active {
        background-color: #fbcea0;
        color: black;
      }
    }

    .middle-toggles {
      height: 3.1rem;
      > button:nth-child(-n + 3):hover {
        background-color: #fbcea0;
        color: black;
      }
    }

    >div:nth-child(2) {
      >button {
        flex-grow: 1;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        column-gap: 0.5rem;

        div {
          flex: 0 0 0 !important;
          display: flex;
          width: fit-content;
        }
      }

      >button.cls__btn-sc--active-fresh {
        background: linear-gradient(135deg, #fff, #fbcea0 66%, #fbcfa0);
        color: black;
      }

      >button:not(.cls__btn-sc--active-fresh) {
        background: linear-gradient(90deg, #404040, #3a403a) 50%;
        color: white;
      }
    }

    /* div:nth-child(1) {
      .features-toggles{

      }
      width:100%;
      button {
        border: 1px solid #fbcea0;
        color: #fbcea0;
        font-weight: 700;
        box-shadow: none;
        font-size: 1.8rem;
      }
      button.active,
      button.cls__btn-cf--active {
        background-color: #fbcea0;
        color: black;
        border-color: #00000059;
      }
      button:hover {
        border: 1px solid #fbcea0;
        background: #fbcea0;
        color: black;
      }
    } */
    /* div:nth-child(2) {
      button {
        flex-grow: 1;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        column-gap:0.5rem;

        div{
          flex:0 0 0 !important;
          display:flex;
          width: fit-content;
        }
      }
      button.cls__btn-sc--active-fresh {
        background: linear-gradient(135deg, #fff, #fbcea0 66%, #fbcfa0);
        color: black;
      }
      button:not(.cls__btn-sc--active-fresh) {
        background: linear-gradient(90deg, #404040, #3a403a) 50%;
        color: white;
      }
      div {
        i {
          font-family: "Alegreya", serif;
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
    } */
  }
}
@layer vetools {
  .ve-night-mode .cls-tbl__stripe-odd:nth-child(2n + 1) {
    background: #fbcea025;
  }

  .dnd-select {
    border: #fbcea0 1px solid;
    border-radius: 8px;
    background: transparent !important;
    font-family: "Alegreya", serif;
    font-size: 1.8rem;
    font-weight: 600;
    height: 3rem;
    width: 10rem;
    padding: 0.25rem 0.5rem;
  }
}
